.shoka-decoration-circle:hover {
  &::before {
    @apply border-blue;
  }
}
.shoka-decoration-circle {
  a {
    transition: all 0.2s ease-in-out 0s;
  }
  &::before {
    /* 所有圆点 */
    content: '';
    display: block;
    z-index: 1;
    transition: all 0.2s ease-in-out 0s;
    @apply border-primary bg-gradient-start group-hover:border-blue absolute top-1/2 left-0 size-3.5 -translate-y-1/2 rounded-full border-2 transition-colors duration-300;
  }
  &::after {
    /* 竖线 */
    content: '';
    display: block;
    z-index: 1;
    transition: all 0.2s ease-in-out 0s;
    width: 3px;
    height: 62px;
    @apply bg-primary/70 absolute top-11 left-1;
  }
}

h2.shoka-decoration-circle {
  &::before {
    left: -1px;
  }
  &::after {
    @apply hidden;
  }
  &.has-children {
    &::after {
      background-color: transparent;
      background-image: repeating-linear-gradient(
        to bottom,
        rgb(237, 120, 139, 0.7) 0,
        rgb(237, 120, 139, 0.7) 4px,
        transparent 8px,
        transparent 12px
      );
      @apply block;
    }
  }
}
h3.shoka-decoration-circle {
  &::before {
    @apply size-3;
  }
  &::after {
    @apply top-10 left-1 h-14;
  }
}

h3.shoka-decoration-circle:last-child {
  &::after {
    @apply hidden;
  }
  & > a::after {
    @apply hidden;
  }
}

p.shoka-decoration-circle {
  &::before {
    left: 2px;
    @apply bg-primary size-2 border-none;
  }
  &::after {
    height: 54px;
    left: 5px;
    @apply bg-primary/40 top-7 w-0.5;
  }
}

p.shoka-decoration-circle:last-child {
  &::after {
    @apply hidden;
  }
}

p.shoka-decoration-circle:hover {
  &::before {
    @apply bg-blue;
  }
}

@media (max-width: 768px) {
  p.shoka-decoration-circle {
    height: 70px;
    &::before {
      top: 35%;
    }
    &::after {
      height: 70px;
      top: 24px;
    }
  }
}
