---
import Layout from '@layouts/Layout.astro';
import '@styles/index.css';
---

<Layout title="Welcome to Astro x Shadcn Starter">
  <main class="container mx-auto px-4 py-16 max-w-4xl">About</main>
</Layout>
