@layer animate {
  @keyframes shake {
    0%,
    100% {
      transform: rotate(0deg);
    }

    10% {
      transform: rotate(2deg);
    }

    15%,
    25%,
    35% {
      transform: rotate(-4deg);
    }

    20%,
    30%,
    40% {
      transform: rotate(4deg);
    }

    45% {
      transform: rotate(-2deg);
    }

    50% {
      transform: rotate(2deg);
    }

    55%,
    90% {
      transform: rotate(0deg);
    }
  }
}
