@import './reset.css';
@import 'tailwindcss';
@config '../../../tailwind.config.mjs';
@import './utils.css';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  button {
    @apply cursor-pointer;
  }
}
@layer base {
  @view-transition {
    navigation: auto;
  }
  body {
    overscroll-behavior-y: none;
    background: linear-gradient(to top, var(--gradient-bg-end) 0, var(--gradient-bg-start) 30%) no-repeat bottom;
    scroll-behavior: smooth;
    @apply tablet:bg-gradient-start tablet:bg-none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Poppins', '方正悠宋 简 509R', 'Noto Serif JP';
  }
  *::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
  .vertical-scrollbar {
    overflow: auto;
  }
  .vertical-scrollbar::-webkit-scrollbar {
    display: block;
    width: 0.5rem;
    @apply bg-border;
    border-radius: 0.5rem;
  }

  .vertical-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-background;
    border-radius: 0.5rem;
  }
  a.link {
    @apply text-primary hover:text-blue transition-colors duration-300;
  }
}

/* utils */
@layer components {
  .shoka-button-shadow {
    box-shadow: 0 0 0.75rem var(--color-pink-a3);
    &:hover {
      box-shadow: 0 0 0.75rem var(--color-pink);
    }
  }
  #site-header {
    @apply translate-y-0 text-white transition-transform duration-300;
    button,
    a {
      @apply shadow-text;
      &::after {
        transition-duration: 400ms;
        @apply bg-white;
      }
    }
    .nav-dropdown a {
      text-shadow: none;
    }
  }
  .clip-path-post-img-left {
    clip-path: polygon(0 0, 92% 0%, 100% 100%, 0% 100%);
  }
  .clip-path-post-img-right {
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 8% 100%);
  }
}
