@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @view-transition {
    navigation: auto; /* enabled! */
  }
  body {
    overscroll-behavior-y: none;
    background: linear-gradient(to top, var(--box-bg-shadow) 0, var(--gradient-bg-start) 30%) no-repeat bottom;
    @apply md:bg-gradient-start md:bg-none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Poppins', '方正悠宋 简 509R', 'Noto Serif JP';
  }
  *::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
  .vertical-scrollbar {
    overflow: auto;
  }
  .vertical-scrollbar::-webkit-scrollbar {
    display: block;
    width: 0.5rem;
    @apply bg-border;
    border-radius: 0.5rem;
  }

  .vertical-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-background;
    border-radius: 0.5rem;
  }
  #main-markdown-render.prose {
    max-width: 100%;
  }
  a.link {
    @apply text-primary transition-colors duration-300 hover:text-blue;
  }
}

/* utils */
@layer components {
  .font-default {
    font-family:
      'Poppins',
      -apple-system,
      'PingFang SC',
      'Microsoft YaHei',
      sans-serif;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-center-x {
    @apply flex flex-row items-center justify-center;
  }

  .flex-center-y {
    @apply flex flex-col items-center justify-center;
  }

  .shadow-card {
    box-shadow: 0 0.625rem 1.875rem -0.9375rem var(--box-bg-shadow);
  }

  .shadow-card-darker {
    box-shadow: 0 0 2rem var(--box-bg-shadow);
  }

  .shadow-box {
    box-shadow: 0 1.25rem 1rem 0.3125rem var(--box-bg-shadow);
    @apply md:shadow-none;
  }

  .shadow-text {
    text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
  }

  .dashed-border {
    border-bottom: 0.0625rem dashed hsl(var(--grey-4));
  }

  #site-header {
    @apply translate-y-0 transition-transform duration-300;
    button {
      @apply shadow-text;
      &::after {
        transition-duration: 400ms;
        @apply bg-white;
      }
    }
  }
  #site-header.with-background {
    @apply border-b border-border bg-gradient-header text-foreground;
    button {
      text-shadow: none;
      &::after {
        transition-duration: 400ms;
        @apply bg-foreground;
      }
    }
  }
  #site-header.header-hidden {
    @apply -translate-y-full;
  }

  .shoka-decoration-circle:hover {
    &::before {
      @apply border-blue;
    }
  }
  .shoka-decoration-circle::before {
    content: '';
    display: block;
    z-index: 1;
    transition: all 0.2s ease-in-out 0s;
    left: 0;
    width: 0.875rem;
    height: 0.875rem;
    @apply absolute top-1/2 -translate-y-1/2 rounded-full border-2 border-primary bg-gradient-start transition-colors duration-300 group-hover:border-blue;
  }
}
