---
import HomeSider from '@components/layout/HomeSider.astro';
import PostFooter from '@components/post/PostFooter.astro';
import PostList from '@components/post/PostList.astro';
import Cover from '@components/ui/cover/Cover.astro';
import { seoConfig } from '@constants/site-config';
import { CONTENT_PADDING } from '@constants/layout';
import Layout from '@layouts/Layout.astro';
import TwoColumnLayout from '@layouts/TwoColumnLayout.astro';
import { getSortedPosts } from '@lib/content';
import type { PaginateFunction } from 'astro';

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const postCollections = await getSortedPosts();
  return paginate(postCollections, { pageSize: 10 });
}

const { page } = Astro.props;
---

<Layout title={seoConfig.title}>
  <TwoColumnLayout>
    <Cover slot="cover" />
    <HomeSider slot="sider" />
    <div
      class={`shadow-box bg-gradient-start tablet:shadow-none flex flex-col gap-4 overflow-hidden ${CONTENT_PADDING.standard}`}
    >
      <PostList posts={page.data} page={page} />
    </div>
    <PostFooter />
  </TwoColumnLayout>
</Layout>
