@import './components/clerk.css';
@import './components/card3d.css';
@import './components/wave.css';
@import './theme/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
/* shadCN theme - https://ui.shadcn.com/themes */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 340 82% 52%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;

    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;

    --primary: 340 82% 52%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

/* shadCN init */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground ;
  }
}

@layer base {
  body {
    background: var(--gradient-bg);
  }
  *::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
  .vertical-scrollbar {
    overflow: auto;
  }
  .vertical-scrollbar::-webkit-scrollbar {
    display: block;
    width: 0.5rem;
    @apply bg-border;
    border-radius: 0.5rem;
  }

  .vertical-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-background;
    border-radius: 0.5rem;
  }
  @font-face {
    font-display: block;
    font-family: 'Nagoda';
    font-style: normal;
    src: local('Nagoda'), url('/fonts/Nagoda.ttf');
  }

  @font-face {
    font-family: 'Candyshop';
    src: url('https://backblaze.cosine.ren/source/fonts/candy.otf');
    font-display: swap;
  }
}

/* utils */
@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-center-x {
    @apply flex flex-row items-center justify-center;
  }

  .flex-center-y {
    @apply flex flex-col items-center justify-center;
  }

  .shadow-card {
    box-shadow: 0 0 2rem var(--box-bg-shadow);
  }

  .shadow-text {
    text-shadow: 0 0.2rem 0.3rem rgba(0,0,0,.5);
  }
}
