---
import LogoSvg from '@assets/svg/logo.svg?react';
import { MenuIcon } from '@components/ui/MenuIcon';
import { siteConfig } from 'constants/site-config';
import Navigator from './Navigator.astro';

const { alternate, title, showLogo } = siteConfig;
---

<div
  id="site-header"
  class="shadow-text tablet:px-0 fixed inset-x-0 top-0 z-10 gap-4 px-4 py-2.5 text-white select-none md:py-2"
  transition:name="site-header"
>
  <div class="desktop:max-w-8xl desktop:px-0 mx-auto flex items-center justify-between px-5 md:w-full md:px-2">
    <!-- 移动端菜单按钮 占位符 -->
    <div class="tablet:block hidden size-11">
      <!-- PlaceHolder -->
    </div>
    <a
      transition:persist="page-header-avatar"
      class="-my-4 mr-4 flex cursor-pointer items-center justify-center gap-1 text-sm font-bold whitespace-nowrap"
      href="/"
      target="_self"
    >
      {
        showLogo ? (
          <LogoSvg className="h-8" />
        ) : (
          <p class="logo-text text-primary text-2xl font-light tracking-widest capitalize">{alternate || title}</p>
        )
      }
    </a>
    <Navigator transition:name="page-header" />
  </div>
</div>

<!-- 移动端菜单按钮 -->
<MenuIcon
  client:load
  className="tablet:flex fixed top-0 left-4 z-52 hidden h-15 transition-transform"
  id="mobile-menu-container"
/>
