---
import HomeSider from '@components/layout/HomeSider.astro';
import Cover from '@components/ui/cover/Cover.astro';
import { seoConfig } from '@constants/site-config';
import Layout from '@layouts/Layout.astro';
import { getCategoryLinks, getCategoryList } from '@lib/content';
import CategoryList from '@components/category/CategoryList.astro';

const { categories, countMap } = await getCategoryList();
const links = getCategoryLinks(categories, '');
---

<Layout title={`全部分类 | ${seoConfig.title}`}>
  <div class="mb-20 flex flex-col">
    <Cover title="全部分类" />
    <div class="mx-auto flex w-full max-w-[90vw] items-start justify-center md:w-full desktop:max-w-8xl">
      <HomeSider />
      <div class="flex flex-grow flex-col">
        <CategoryList categories={categories} countMap={countMap} totalCount={links.length ?? 0} />
      </div>
    </div>
  </div>
</Layout>
