---
import Layout from '@layouts/Layout.astro';
import '@styles/index.css';
import { getCollection } from 'astro:content';
import type { BlogPost } from '../types/blog';
import HomeSider from '@components/layout/sider/HomeSider';
import Cover from '@components/ui/cover';
import { siteConfig } from '@constants/site-config';
import PostList from '@components/post/PostList';

// 获取所有博客文章
const posts = await getCollection('blog');

// 按日期排序
const sortedPosts = posts.sort((a: BlogPost, b: BlogPost) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<Layout title={siteConfig.title}>
  <div class="mb-20 flex flex-col">
    <Cover client:load />
    <div class="mx-auto flex items-start justify-center pr-11 md:w-full md:pr-0">
      <HomeSider client:load />
      <PostList client:load posts={sortedPosts} />
    </div>
  </div>
</Layout>
