---
import Layout from '@layouts/Layout.astro';
import '@styles/index.css';

import { siteConfig } from '@constants/site-config';
import HomeSider from '@components/layout/sider/HomeSider';
import Cover from '@components/ui/cover';
---

<Layout title={siteConfig.title}>
  <div class="mb-20 flex flex-col">
    <Cover client:load />

    <div class="mx-auto flex items-start justify-center pr-11 md:w-full md:pr-0">
      <HomeSider client:load />
      <div class="shadow-box w-full bg-gradient-start p-4 2xl:container md:px-1 md:py-2"></div>
      <!-- <PostList className="shadow-box w-full bg-gradient-start p-4 2xl:container md:px-1 md:py-2" data={data} /> -->
    </div>
  </div>
</Layout>
