---
import type { BlogPost } from 'types/blog';
import Divider from '@components/ui/divider';
import EmptySvg from '@components/svg/EmptySvg';
import type { Page } from 'astro';
import Paginator from './Paginator.astro';
import PostItemCard from './PostItemCard.astro';

interface Props {
  posts?: BlogPost[];
  page?: Page<BlogPost>;
  showPaginator?: boolean;
}

const { posts, page, showPaginator = true } = Astro.props;
---

<div class="shadow-box flex w-full flex-col gap-8 bg-gradient-start p-4 pt-8 2xl:container md:px-1 md:py-2">
  <Divider>文章列表</Divider>

  {
    !posts?.length && (
      <div class="flex flex-col items-center gap-2 text-foreground/30">
        <EmptySvg className="fill-foreground/20" />
        <span>还没有发表文章哦～</span>
      </div>
    )
  }
  {
    posts && posts?.length > 0 && (
      <>
        <div class="flex flex-col gap-8 px-5">
          {posts.map((post, index) => (
            <PostItemCard data={post} leftClip={index % 2 === 0} />
          ))}
        </div>
        {showPaginator && page && <Paginator page={page} />}
      </>
    )
  }
</div>
