---
import LatestComments from '@components/comment/LatestComments.astro';
import { getRandomPosts } from '@lib/content';
import RandomPostList from './RandomPostList.astro';

const randomPosts = await getRandomPosts(10);
---

<div class="tablet:grid-cols-1 grid grid-cols-2 gap-4 px-10 md:px-6">
  <RandomPostList posts={randomPosts} />
  <LatestComments />
</div>
