---
import { siteConfig } from '@constants/site-config';
import Layout from './Layout.astro';
import Cover from '@components/ui/cover';
import HomeSider from '@components/layout/HomeSider.astro';

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${siteConfig.title}`}>
  <div class="mb-20 flex flex-col">
    <Cover client:load />
    <div class="mx-auto flex w-full items-start justify-center pr-11 md:w-full md:pr-0">
      <HomeSider />
      <div class="prose max-w-none flex-grow"><slot /></div>
    </div>
  </div>
</Layout>
