---
import { siteConfig } from '@constants/site-config';
import Layout from './Layout.astro';
import Cover from '@components/ui/cover/Cover.astro';
import HomeSider from '@components/layout/HomeSider.astro';

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${siteConfig.title}`}>
  <div class="mb-20 flex flex-col" transition:name="page-cover">
    <Cover />
    <div class="mx-auto flex w-full items-start justify-center pr-11 md:w-full md:pr-0">
      <HomeSider />
      <div class="shadow-box flex w-full flex-col gap-8 bg-gradient-start p-4 pt-8 2xl:container md:px-1 md:py-2">
        <div class="prose max-w-none"><slot /></div>
      </div>
    </div>
  </div>
</Layout>
