---
import { siteConfig } from '@constants/site-config';
import Layout from './Layout.astro';
import HomeSider from '@components/layout/sider/HomeSider';
import Cover from '@components/ui/cover';

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${siteConfig.title}`}>
  <div class="mb-20 flex flex-col">
    <Cover client:load />
    <div class="mx-auto flex items-start justify-center pr-11 md:w-full md:pr-0">
      <HomeSider client:load>
        <div class="sticky top-20 flex min-w-[16rem] flex-col items-center p-4 px-5 md:hidden">Loading</div>
      </HomeSider>
      <div class="prose flex-grow max-w-none"><slot /></div>
    </div>
  </div>
</Layout>
