---
interface Props {
  title: string;
}
import '@fontsource/poppins';
import '@fontsource/noto-serif-sc';
import { ClientRouter } from 'astro:transitions';
import { Header } from '../components/layout/header';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro x Shadcn Starter Template" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
    <!-- OpenGraph meta tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content="Astro x Shadcn Starter Template" />
    <meta property="og:image" content="/opengraph.png?v=1" />
    <meta property="og:url" content="https://astroshadcnstarter.netlify.app" />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <div class="flex min-h-screen flex-col text-black dark:text-white">
      <Header client:load pathname={Astro.url.pathname} />
      {/*  <FloatGroup /> */}
      <main class="relative flex flex-grow flex-col">{(<slot />)}</main>
      {/* <Footer className="mt-auto" /> */}
    </div>
  </body>
</html>
