---
import { cn } from '@lib/utils';
import { LAYOUT_SPACING, MAX_WIDTH } from '@constants/layout';

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class="mb-20 flex flex-col">
  <slot name="cover" />
  <div
    class={cn(
      'mx-auto md:mx-0 flex w-full items-start justify-center md:w-full',
      MAX_WIDTH.content,
      LAYOUT_SPACING.twoColumnGap,
      className,
    )}
  >
    <slot name="sider" />
    <div class="flex min-w-0 grow flex-col md:w-full">
      <slot />
    </div>
  </div>
</div>
